.DS_STORE
datasets
runs
yolov8n.pt
ToyDetector-2
.idea/
venv/
log/
data/
build/
install/
*.jpg
*.mp4
*.avi

!data/camera_info/
!data/weights/yolo/

src/demo_perception.py
src/utils.py
src/midas/

sample.py
